<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Master </title>
  <link rel="stylesheet" href="/Master.css">
  <script src="/script/Master.js"></script>
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <div class="logo_name">Master</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class='bx bx-search'></i>
        <input type="text" placeholder="Search...">
        <span class="tooltip">Search</span>
      </li>
      <li>

        <button id="Admin" class="sidebuttons">Admin Managment</button>

        <button id="User" class="sidebuttons">User Managment</button>

        <button id="Store" class="sidebuttons">Store Managment</button>

        <button id="POTM" class="sidebuttons">POTM Managment</button>

      </li>

    </ul>
    <div class="logouttt">
      <h3>Logout</h3>
      <a id="log_out" class="logout_sidebutton" href="/index"> Logout</a>
    </div>
  </div>
  <div class="Admin-Container">
    <div id="container1">



      <form id="Create-Admin" action="/Master/Creat-Admin" method="post">
        <h3> Create Account</h3>
        <input type="text" name="Fullname" id="creat_acc" placeholder="Name" required> </input>
        <input type="password" name="Password" id="creat_acc" placeholder="Password" required> </input>
        <input type="email" name="email" id="creat_acc" placeholder="Email" required> </input>

        <input type="number" name="PhoneNumber" id="creat_acc" placeholder=" Mobile number" required></input>
        <input type="number" name="Num" id="creat_acc" placeholder=" ID" required></input>
        <br>

        <div class="radiobuttons">
          <input class="radio1" type="radio" id="html" name="Gender" value="male">
          <label class="label1" for="html">Male</label>
          <input class="radio2" type="radio" id="css" name="Gender" value="female">
          <label class="label2" for="css">Female</label>
        </div>
        <div class="botton22 ">
          <br>
          <button type="submit" id="Create Account">Create Account</button>

      </form>
    </div>
    <section class="Admin_list">
      <div class="admins-list">
        <h1>Admin's List</h1>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Gender</th>
              <th>Email</th>
              <th>Password</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr class="active">
              <% Admins.forEach(function(Admins) { %>
                <tr>
                  <td><%= Admins.Num %></td>
                  <td><%= Admins.Fullname %></td>
                  <td><%= Admins.Gender %></td>
                  <td><%= Admins.email %></td>
                  <td><%= Admins.Password %></td> 
                  <td><button class="delete" id="ban" data-user-id="<%= Admins.id %>">Delete</button></td>
                </tr>
              <% }); %>
              
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    
    
    


  </div>






  <div id="container2">


    <section class="main">
      <div class="main-top">
        <h1>Active Users</h1>

      </div>
      <div class="users">
        
        
        
        
      </div>
      <section class="User">
        <div class="Users-list">
          <h1>Users List</h1>
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Phone Number</th>
                <th>Date Of Birth</th>
                <th>Gender</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <% Users.forEach(function(user) { %>
                    <% if (user.Activated == 1) { %>
                    <tr>
                      <td><%= user._id %></td> 
                      <td><%= user.Fullname %></td>
                      <td><%= user.email %></td>
                      <td><%= user.Password %></td>
                      <td><%= user.PhoneNumber %></td>
                      <td><%= new Date(user.DateOfBirth).toLocaleDateString() %></td>
                      <td><%= user.Gender%></td> 
                      <td><button class="delete" id="ban" data-user-id="<%= user.id %>">Delete</button></td>
                    </tr>
                    <% } %>
                  <% }); %>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section class="User">
        <div class="Users-list">
          <h1>Incoming User's Requests</h1>
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Phone Number</th>
                <th>Date Of Birth</th>
                <th>Gender</th>
                <th>Accept</th>
                <th>Reject</th>
              </tr>
            </thead>
            
            <tbody>
              <% Users.forEach(function(user) { %>
                <% if (user.Activated === 0) { %>
                  <tr>
                    <td><%= user._id %></td>
                    <td><%= user.Fullname %></td>
                    <td><%= user.email %></td>
                    <td id="passw"><%= user.Password %></td>
                    <td><%= user.PhoneNumber %></td>
                    <td><%= new Date(user.DateOfBirth).toLocaleDateString() %></td>
                    <td><%= user.Gender %></td>
                   
                      <form action="/Master/Update-Activation" method="post">
                        <input type="hidden" name="_id" value="<%= user._id %>">
                        <td>
                        <button type="submit" class="activate" id="accept_but">Accept</button>
                      </td>
                      </form>
                        <td>
                          <button class="delete" id="ban" data-user-id="<%= user.id %>">Reject</button>
                    </td>
                  </tr>
                <% } %>
              <% }); %>
            </tbody>
          </table>
        </div>
      </section>
    </section>
    
    
    
   
    
    </div>

  </div>



  <div id="container3">
    <div class="Store">
      <main>
        <button class="Add" onclick="toggleForm();enlarge(this)">Add</button><br>
        <% if (Product && Product.length > 0) { %>
          <% Product.forEach(function(team) { %>
            <div class="profile">
              <div class="profile__banner" name="bannerColor" style="background-color: <%= team.bannerColor %>;"></div>
              <div>
                <div class="profile__pic" name="teamImage">
                  <img src="/materials/<%= team.teamImage %>" alt="Team Image">
                </div>
                <div class="profile__info">
                  <span class="profile__info-display" name="teamName">
                    <%= team.teamName %>
                  </span>
                  <span class="profile__info-username" name="teamUsername">
                    <%= team.teamUsername %>
                  </span>
                </div>
              </div>
              <div class="profile__data">
                <span class="profile__data-following">
                  <h1 id="head" name="historyTitle">History:</h1>
                  <h2 id="sum" name="historyDescription">
                    <%= team.historyDescription %>
                  </h2>
                  <div class="back">
                    <img id="shirt" name="productImage" src="/materials/<%= team.productImage %>">
                    <h2 name="productName">
                      <%= team.productName %>
                    </h2>
                    <h2 name="productPrice" style="color:green;">
                      <%= team.productPrice %> EGP
                    </h2>
                    <button class="deleteproduct" data-product-id="<%= team.id %>">Delete</button>
                    
                  </div>
                </span>
              </div>
            </div>
          <% }) %>
        <% } else { %>        
       
        <% } %>
      
        <div class="form-container" id="addProfileForm">
          <form id="addProfileFormmm" method="post" action="/Master/STORE" >
            <label for="bannerColor">Banner Color:</label>
            <input type="color" name="bannerColor" id="bannerColor"><br>
      
            <label for="profilePic">Profile Picture:</label>
            <input type="file" name="teamImage" id="profilePic"><br>
      
            <label for="profileInfo-display">Profile Info Display:</label>
            <input type="text" id="profileInfo-display" name="teamName" placeholder="Title Name"><br>
      
            <label for="profileInfo-username">Profile Info Username:</label>
            <input type="text" id="profileInfo-username" name="teamUsername" placeholder="@username"><br>
      
            <label for="profileInfo">Profile Info:</label>
            <textarea id="profileInfo" rows="4" cols="50" name="historyDescription"></textarea><br>
      
            <label for="tshirtPic">T-shirt Picture:</label>
            <input type="file" id="tshirtPic" name="productImage"><br>
      
            <label for="tshirtInfo">T-shirt Info:</label>
            <input type="text" id="tshirtInfo" name="productName" placeholder="T-shirt Info"><br>
      
            <label for="price">Price:</label>
            <input type="number" id="price" name="productPrice" placeholder="Price"><br>
            <div class="Store-Form-Button">
              <button type="submit">Add Profile</button>
              <button type="button" id="closeButton" onclick="closeForm()">Close</button>
            </div>
          </form>
        </div>
      </main>
      
    </div>
  </div>
  <div id="container4">





    
    <div class="ffoorrmm" id="container87">
      <form id="formation" method="POST" action="/Master/ADD-POTM">
   
        <i  class='bx bxs-cloud-upload icon'></i>
        <h3>Upload Image</h3>
        <input type="text" id="file33" placeholder="Image URL" name="image"> 
    
    
 

        <div class="player_name">
          <input type="text" id="player_name33" name="name" placeholder="Player Name">
        </div>
      
        <div class="location">
          <input type="text" id="player_club33" name="club" placeholder="Player Club">
        </div>
      
        <div class="button_2">
          <textarea id="description233" name="description" placeholder="Description" rows="8"></textarea>
        </div>
      
        <div class="date">
          <input type="number" id="age33" name="age" placeholder="Age">
        </div>
      
        <div class="nationality">
          <input type="text" id="nation33" name="nationality" placeholder="Nationality">
        </div>
      
        <div class="tickets1">
          <input type="number" id="numofgoals33" name="goals" placeholder="Goals">
        </div>
      
        <div class="tickets2">
          <input type="number" id="assists33" name="assists" placeholder="Assists">
        </div>
      
        <div class="tickets3">
          <input type="number" id="cleancheats33" name="cleansheets" placeholder="Played">
        </div>
      
        <label for="nominees" id="nomo33">Choose a NOMINEES Number:</label>
        <select name="nomineeNO" id="nominees">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">Announce Winner</option>
        </select>
      
        <br>
        <button class="add-event" type="submit">Add Nominees</button>
     

        </form>

    </div>


      






   








    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const deleteButtons = document.querySelectorAll('.delete');
        deleteButtons.forEach(button => {
          button.addEventListener('click', function(event) {
            const adminId = this.getAttribute('data-user-id');
            fetch('/Master/Delete-Admin/' + adminId, {
              method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                this.parentElement.parentElement.remove();
              } else {
                alert('Failed to delete event.');
              }
            })
            .catch(error => console.error('Error:', error));
          });
        });
      
      });





      






document.addEventListener('DOMContentLoaded', function() {
    const deleteButtons = document.querySelectorAll('.deleteproduct');
    deleteButtons.forEach(button => {
      button.addEventListener('click', function(e) {
        const prodid = e.target.getAttribute('data-product-id');
        fetch(`/Master/Delete-product/${prodid}`, {
          method: 'DELETE'
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            e.target.closest('.profile').remove();
          } else {
            alert('Error deleting ');
          }
        })
        .catch(error => console.error('Error:', error));
      });
    });
  });


     
      </script>
      



    


</div>

</body>
</html>